# このファイルを ~/.ssh/config.d/<name>.conf にコピーして、ローカルで編集する。
# 秘密鍵、パスワード、公開したくないホスト情報はコミットしない。

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519

Host example-server
  HostName example.com
  User your-user
  Port 22
  IdentityFile ~/.ssh/id_ed25519
